section
  section
    h2 Итоги
    video(src='img/sleep.mp4' loop autoplay)

  section
    h3 Итоги
    ul
      +li Мы отлично умеем работать с контентом
      +li Нас не пугают терабайты данных 
      +li Разбираемся в самых новых технологиях
      +li Умеем автоматизировать рутинные задачи
      +li Роботы скоро захватят мир
  section
    video(src='img/robots.mp4' loop autoplay)
section
  h4= email
  a(href="https://"+main_url) #{main_url}
