section
  section
    h2 Итоги
    // video(src='img/sleep.mp4' loop autoplay)

  section
    //- h3 Итоги
    ul
      +li Многолетний опыт работы с медиа-контентом
      +li Опыт работы с большими объёмами данных в aws/gcp
      +li Текущий вектор развития - машинное обучение
      // +li Умеем автоматизировать рутинные задачи
      // +li Роботы скоро захватят мир
  // section
    video(src='img/robots.mp4' loop autoplay)
section
  h4= email
  a(href="https://"+main_url) #{main_url}
