// section(data-background-video="img/lab.mp4" data-background-video-loop data-background-size='contain')
section
  h4 #{subtitle}
  h1 #{title}

section
  h3 Владимир Серегин
  h4 R&D специалист Ailove / Aitarget

//section(data-background-image="img/lab4.png" data-background-opacity="0.2")
  h3 ГНЦРФ ФЭИ
  h4 Лаборатория N4
      
// section(data-background-image="img/lab4.2.png")

section
  blockquote.
    Любая достаточно развитая технология неотличима от магии.
  small 3`й закон Кларка

section
  h3 Основные направления моей работы
  ul
    +li Генеративный и интерактивный контент
    +li Обработка данных и машинное обучение
    +li Автоматизация / оптимизация
