section 

  section
    h3 Генеративный и интерактивный контент
    // video(src='img/generative.mp4' autoplay loop)
    
  section
    h3 Графика, видео & звук
    p 10 лет работы с медиа-контентом

  section
    h3 Было всё
    ul
      +li Рендеринг, шаблонизация, компоузинг 
      +li Конвертация форматов, адаптация
      +li Распознавание и персонофикация контента
      +li Стилизация, имитация, моделирование
      +li Дополненная, расширенная, виртуальная реальность
      +li Таймлапсы, стримы, броадкастинг, проксирование
      +li В ютуб, фейсбук, ок, вк, инсту, твич, тикток
      +li С мобильного, фронта, бэкенда, из облаков


  section(data-background-video="img/generative_templates.mp4" data-background-opacity="0.2")
    h3 Рекламный контент
    ul
      +li Многие годы работаю с автоматической генерацией видео-рекламы
      +li Собирал облачные рендер-фермы
      +li Разрабатывал шаблонизацию after-effects, blender
      +li Разрабатывал свои рендер-движки работающие в реалтайме и быстрее

  section(data-background-video="img/generative_templates.mp4")
  section(data-background-video="img/supa.mp4" data-background-size="contain")
  // 
    section
      h3 Пользовательский контент
      ul
        +li Видео-открытки
        +li Обработка пользовательского контента, стилизация
        +li Визиуализация открытой информации


    section
      h3 Видео-стриминг
      ul
        +li Броадкаст интерактивного видео потока
        +li Добавление в стрим визуализации пользовательской активности 
        +li Свои сервера, youtube, twitch, facebook, instagram, vk, ok


  section(data-background-image="img/nvidia.png" data-background-opacity="0.2")
    h3 GPU
    ul
      +li В работе активно используются возможности видео-карт
      +li Онлайн / WebGL (интерактив на сайтах)
      +li Офлайн / OpenGL (инсталляции)
      +li Мобильные устройства / GLES, Unity, Unreal
      +li Машинное обучение

  section(data-background-video="img/gis.mp4" data-background-opacity="0.2")
    h3 Картография / GIS
    ul
      +li ВТБ / Индекс счастья населения
      +li Michelin / Качества дорог
      +li Abbott / Статистика по регионам
      +li Касперский / Карта кибер угроз
      +li Мегафон / Визуализация социальной активности
  section(data-background-video="img/gis.mp4")

