section

  section
    h2 ТОП Задач

  section: blockquote Отследить перемещение всех мобильных устройств на эвенте
  section: blockquote Распознать настроение человека по голосу
  section: blockquote Научить нейронную сеть сочинять джаз
  section: blockquote Оценить привлекательность наружной рекламы, измерить число и продолжительность взглядов прохожих
  section: blockquote Предсказать CTR креатива по изображению, дать рекомендации по улучшению
  section: blockquote Разработать фитнес-браслет / экшен камеру для кошек и собак
  section: blockquote Интерактивная граффити стена
  section: blockquote Сделать копию Сири, но про куриные окорочка
  section: blockquote Спрогнозировать беременность по поведению в соц-сетях
  section: blockquote Найти среди 4Tb фотографий те, на которых есть котик заданной породы
  section: blockquote Поиск и распознавание лобовых стекол авто
  section: blockquote Реализовать управление интерактивной инсталляцией через мимику посетителя
  section: blockquote Проверить выход телерекламы в регионах
  section: blockquote Автоматически убрать фон у фотографий
  section: blockquote Выделить структуру и содержание рекламных роликов, получивших премии
  section: blockquote Рендер ферма способная каждые сутки подготавливать 100K продуктовых видео-роликов
  section: blockquote Биддер на базе ПИД-регулятора
  section: blockquote Распознавание вина по этикетке
  section: blockquote Научить робота рисовать тушью в стиле сумиэ
  section: blockquote Запоминать лица всех посетителей сети магазинов и приветствовать их при повторном визите
  section: blockquote Нарисовать всем собакам солнечные очки
  section: blockquote Автономный счетчик произнесенных ругательств работающий без интернета
  section: blockquote Рассчитать распределение индекса счастья по стране, нарисовать карту
  section: blockquote Научить ИИ находить в юридических документах подводные камни
  section: blockquote Аудио сайт для слепых
  section: blockquote "Этого платья не существует" - генерация новых образов на базе каталога продукции
  section: blockquote Быстро найти все внешне похожие товары, шазам для фоток
  section: blockquote Классификация коротких сообщений, определение эмоциональной окраски отзывов
  section: blockquote Выпуклое программирование в задачах оптимизации
  section: blockquote Кластеризировать и визуализировать 15M покупок
  section: blockquote Научить робот-пылесос танцевать под музыку
  section: blockquote Растопить 100кг глыбу льда ровно за 4 часа
