section

  section 
    h2 Машинное обучение
    video(src='img/ml.mp4' autoplay loop)

  section
    h3 Обработка естественного языка
    ul
      +li Обработка текста, комментариев классификация, категоризация, тегирование
      +li QA платформы
      +li Анализ эмоциональной окраски
      +li Кластеризация, поиск инсайтов


  section(data-background-image="img/speach.jpeg" data-background-opacity="0.2")
    h3 Обработка живой речи
    ul
      +li Работа с S2T сервисами
      +li Создание легких моделей для детекции заданных ключевых фраз
      +li Поиск дефектов речи у детей
      +li Распознавание эмоции по голосу


  section(data-background-image="img/detectron2.png" data-background-opacity="0.2")
    h3 Классификация фото/видео контента
    ul
      +li Классификация фотографий, семнатическая сегментация
      +li Выделение и маскирование объектов на сложном фоне
  section(data-background-image="img/detectron2.png")
  section(data-background-image="img/basnet_01.png" data-background-size="contain")

  section(data-background-video="img/face_tracking.mp4" data-background-opacity="0.2")
    h3 Фейс-трекинг, эмоции
    ul
      +li Трекинг взгляда, внимания
      +li Трекинг лиц, извлечение геометрии
      +li Определение эмоций
      +li Face id
  section(data-background-video="img/face_tracking.mp4")
  section(data-background-video="img/gaze.mp4" data-background-size="contain")
  section(data-background-image="img/dogs.jpg" data-background-size="contain")
  
  //
    section
      h3 Моделирование и оптимизация продвижения
      ul
      +li Использование алгоритмов оптимизации применительно к SMM продвижению
      +li Применение машинного обучения для прогнозирование эффективности креативов.

    section
      h3 Генеративные сети, GAN
      ul
        +li Автоматическое создание нового контента на базе датасетов
        +li Генерация стилей одежды на базе продуктового фида


    section
      h3 Данные
      ul
        +li Умеем эффектинво хранить и обрабатывать
        +li Разрабатываем инструменты для ручной разметки датасетов
        +li Находим способы автоматически извлекать данные
